<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-4">
    <h3>Edit Car</h3>

    <form th:action="@{/car/update}" method="post" th:object="${car}">
        <input type="hidden" th:field="*{carId}" />

        <div class="form-group">
            <label>Car Name</label>
            <input type="text" th:field="*{carName}" class="form-control col-4 mb-3" required>
        </div>

        <div class="form-group">
            <label>Car Color</label>
            <input type="text" th:field="*{carColor}" class="form-control col-4 mb-3" required>
        </div>

        <div class="form-group">
            <label>Car Quantity</label>
            <input type="number" th:field="*{carQuantity}" class="form-control col-4 mb-3" required>
        </div>

        <button type="submit" class="btn btn-success">Save Changes</button>
        <a th:href="@{/car/list}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

</body>
</html>